@import './variables.scss';

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(fonts/HelveticaNeueMedium.ttf);
  font-size: 14px; 
  color: $black;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(fonts/HelveticaNeueBold.ttf);
  font-size: 14px; 
  color: $black;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(fonts/HelveticaNeueCondensedBlack.ttf);
  font-size: 16px; 
  color: $black;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url(fonts/HelveticaNeueRegular.ttf);
  font-size: 14px; 
  color: $black;
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url(fonts/SFProTextSemibold.ttf);
  font-size: 12px; 
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url(fonts/SFProDisplaySemibold.ttf);
  font-size: 12px; 
  color: black;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url(fonts/SFProDisplayBold.ttf);
  font-size: 8px; 
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url(fonts/SFProDisplayRegular.ttf);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

ul, a, li {
  text-decoration: none;
  list-style: none;
  color: $lightBlue;
  border: none;   
}


.hr_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
// radio input
.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
  input {
      display: none;
      & + span {
          line-height: $radioSize;
          height: $radioSize;
          padding-left: $radioSize;
          display: block;
          position: relative;
          &:not(:empty) {
              padding-left: $radioSize + 8;
          }
          &:before,
          &:after {
              content: '';
              width: $radioSize;
              height: $radioSize;
              display: block;
              border-radius: 50%;
              left: 0;
              top: 0;
              position: absolute;
          }
          &:before {
              background: $radioBorder;
              transition: background-color .2s ease,
                          transform .4s cubic-bezier(.175, .885, .32, 2);
          }
          &:after {
              background: #fff;
              transform: scale(.78);
              transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
          }
      }
      &:checked + span {
          &:before {
              transform: scale(1.04);
              background: $radioActive;
          }
          &:after {
              transform: scale(.4);
              transition: transform .3s ease;
          }
      }
  }
  &:hover {
      input {
          & + span {
              &:before {
                  transform: scale(.92);
              }
              &:after {
                  transform: scale(.74);
              }
          }
          &:checked + span {
              &:after {
                  transform: scale(.4);
              }
          }
      }
  }
}
// tooltip
.row {
  display: flex;
  margin: auto;
}
.tooltip {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    overflow: visible;
    .tooltip-content {
      opacity: 1;
    }
  }
  
  .tooltip-content {
    background: #fff;
    box-shadow: 0 5px 25px 5px $shadow;
    box-sizing: border-box;
    font-family: 'Helvetica Neue Regular';
    color: $black;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 200px;
    min-width: 145px;
    padding: 1em;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    &::after {
      background: #fff;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
    }
  }

  &.right {
    .tooltip-content {
      left: calc(100% + 1.5em);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        left: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }      
}
// select
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 20px;
  padding: 5px 8px 5px 7px;
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}
select {
  flex: 1;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: $black;
  cursor: pointer;
  .option_to_change {
    color: $grey;
  }
}
.select::after {
  content: url(../img/Shape.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  padding: 9px 7px 9px 0px;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  transform: translate(0, -16px);
}

.pass_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .pass_nav_item {
    display: flex;
    align-items: center;
    padding: 8px;
    padding-bottom: 17px;
    border-bottom: 4px solid #fff;
    transition: 0.3s border-color;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      path {
        transition: 0.3s fill;
      }
    }
    p {
      font-family: 'Helvetica Neue Medium';
      font-size: 16px;
      color: $lightBlue;
      transition: 0.3s color;
    }
    &:hover {
      border-bottom: 4px solid $darkBlue;
      path {
        fill: $darkBlue;
      }
      p {
        color: $darkBlue;
      }
    }
  }
  .save_pass {
    display: flex;
    align-items: center;
    background-color: $darkBlue;
    padding: 7px 10px 7px 7px;
    margin-bottom: 9px;
    border-radius: 8px;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      path {
        fill: #fff;
      }
    }
    p {
      font-family: 'Helvetica Neue Medium';
      font-size: 16px;
      color: #fff;
    }
  }
}


.main_page {
  width: 100%;
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  margin-top: 48px;



  .iphone {
    background-image: url(../img/iphone.png);
    background-size: cover;
    min-width: 320px;
    height: 648px;
    .iphone_container {
      position: relative;
      width: 80%;
      height: 592px;
      margin: 0 auto;
      .status_bars {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        .iphone_time {
          font-family: 'SF Pro Text Semibold';
          font-size: 14px;
          color: black;
        }
        .statuses {
          display: flex;
          align-items: center;
          img {
            margin-left: 4px;
          }
        }
      }
      .iphone_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        p {
          font-family: 'SF Pro Display Semibold';
        }
      }

      .pass_content {
        position: relative;
        margin-top: 15px;
        height: 375px;
        background-color: #89949B;

        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.1);
        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 50px;
          height: 38px;
          border-radius: 50%;
          background-color: white;
          transform: translate(103px, -22px);
          box-shadow: inset 0px -10px 25px 0px rgba(0, 0, 0, 0.1);
        }
        
        .pass_content_container {
          margin: 0 auto;
          width: 95%;

          .pass_header {
            display: flex;
            justify-content: space-between;
            padding-top: 7px;
  
            .logo {
              width: 109px;
              height: 26px;
              color: $darkBlue;
              background-color: $lightBlue;
            }
            .exp_date {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;

              .exp_time {
                font-family: 'SF Pro Display Semibold';
                font-size: 8px;
                color: #fff;
              }
              .exp_date {
                font-family: 'SF Pro Display Regular';
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
              }
            }
          }
          .mini_p {
            font-family: 'SF Pro Display Semibold';
            font-size: 9px;
            color: #fff;
          }
          .pass_event_info {
            margin-top: 15px;
            .pass_event_name {
              font-family: 'SF Pro Display Regular';
              font-size: 15px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .pass_place_info {
            margin-top: 13px;
            .pass_place {
              font-family: 'SF Pro Display Regular';
              font-size: 12px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .pass_ticket_info {
            margin-top: 13px;
            .pass_ticket {
              font-family: 'SF Pro Display Regular';
              font-size: 10px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
        .qr_code {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 72px;
          width: 112px;
          height: 112px;
          border-radius: 3px;
        }
      }
      button {
        position: absolute;
        padding-bottom: 16px;
        padding-top: 13px;
        background-color: $darkBlue;
        border-radius: 8px;
        width: 100%;
        border: none;
        bottom: 0;
        font-family: 'Helvetica Neue Bold';
        font-size: 17px;
        color: white;
      }
    }
  }


  .pass_settings {
    position: relative;
    max-width: 780px;
    width: 780px;
    margin-top: 16px;
    margin-left: 81px;
    h3 {
      display: flex;
      max-width: 100%;
      font-family: 'Helvetica Neue Bold';
      color: $black;
      font-size: 21px;
    }
    hr {
      height: 1px;
      border: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .cards {
      margin-top: 33px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .card {
        &:hover {
          .card_info {
            color: $darkBlue;
            font-family: 'Helvetica Neue Bold';
          }
          .card_form {
            border-color: $darkBlue;
            div {
              background-color: $darkBlue;
            }
          }
        }

        .card_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'Helvetica Neue Regular';
          margin-bottom: 18px;
          font-size: 18px;
          color: $black;
          transition: 0.3s color,
                      0.3s font-family;
        }
        .card_form {
          width: 138px;
          height: 177px;
          background-color: #E6F0F7;
          border: 1px solid $lightBlue;
          transition: 0.3s border-color;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Helvetica Neue Condensed Black';
            font-size: 32px;
            color: #fff;
            background-color: $lightBlue;
            padding: 10px;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            box-shadow: 0px 0px 30px 0px rgba(92,107,116,0.2);
            transform: translate(41px, 72px);
            transition: background-color 0.3s;
          }
          .num {
            font-size: 22px;
          }
          .smile {
            transform: translate(2px, 1px) rotate(90deg);
          }
        }
      }
    }
    hr {
      margin-top: 24px;
      margin-bottom: 32px;
    }



    .pass_form {
      position: relative;
      z-index: 5;
      width: 370px;
      .p_header {
        position: relative;
        z-index: 4;
        font-family: 'Helvetica Neue Bold';
        font-size: 14px;
        color: $black;
        .red_star {
          color: $red;
          font-size: 14px;
        }
        svg {
          transform: translateY(1px);
          margin-left: 5px;
        }
      }
      hr {
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .form_input {
        margin-top: 8px;
        margin-bottom: 24px;
        width: 100%;
        height: 20px;
        padding: 5px 18px 5px 8px;
        font-family: 'Helvetica Neue Regular';
        font-size: 14px;
        color: $black;
        border: 1px solid #DEDFDF;
        border-radius: 4px;

      }
      .text_under_select {
        font-family: 'Helvetica Neue Regular';
        font-size: 12px;
        color: $grey;
        margin-bottom: 40px;
        a {
          color: $darkBlue;
          cursor: pointer;
        }
      }

      




    }
  }

}
