@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(fonts/HelveticaNeueMedium.ttf);
  font-size: 14px;
  color: #333333;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(fonts/HelveticaNeueBold.ttf);
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(fonts/HelveticaNeueCondensedBlack.ttf);
  font-size: 16px;
  color: #333333;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url(fonts/HelveticaNeueRegular.ttf);
  font-size: 14px;
  color: #333333;
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url(fonts/SFProTextSemibold.ttf);
  font-size: 12px;
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url(fonts/SFProDisplaySemibold.ttf);
  font-size: 12px;
  color: black;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url(fonts/SFProDisplayBold.ttf);
  font-size: 8px;
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url(fonts/SFProDisplayRegular.ttf);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

body {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

ul, a, li {
  text-decoration: none;
  list-style: none;
  color: #8DA4B3;
  border: none;
}

.hr_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.form_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
  height: 30px;
  padding: 5px 18px 5px 8px;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: #333333;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}

.textarea {
  height: 50px;
}

.upload {
  position: relative;
  height: 55px;
  width: 55px;
  border: 1px dashed #8DA4B3;
  border-radius: 4px;
  display: block;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  cursor: pointer;
}

.upload svg {
  padding: 15px 16px 18px 17px;
}

.upload .needed_path {
  position: absolute;
  display: block;
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}

.upload:hover {
  border: 1px solid #124261;
}

.upload:hover .needed_path {
  fill: #124261;
}

.upload input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
}

.radio input {
  display: none;
}

.radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}

.radio input + span:not(:empty) {
  padding-left: 30px;
}

.radio input + span:before, .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

.radio input + span:before {
  background: #D1D7E3;
  -webkit-transition: background-color 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background-color 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background-color 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background-color 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
          transform: scale(0.78);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #124261;
}

.radio input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.radio:hover input + span:before {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.radio:hover input + span:after {
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
}

.radio:hover input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.tooltip {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.tooltip .needed_path {
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}

.tooltip .needed_stroke {
  -webkit-transition: 0.3s stroke;
  transition: 0.3s stroke;
}

.tooltip:hover {
  overflow: visible;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
}

.tooltip:hover .needed_path {
  fill: #124261;
}

.tooltip:hover .needed_stroke {
  stroke: #124261;
}

.tooltip .tooltip-content {
  background: #fff;
  -webkit-box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
          box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue Regular';
  color: #333333;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  max-width: 200px;
  min-width: 145px;
  padding: 1em;
  position: absolute;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tooltip .tooltip-content::after {
  background: #fff;
  content: "";
  height: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
}

.tooltip.right .tooltip-content {
  left: calc(100% + 1.5em);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tooltip.right .tooltip-content::after {
  left: -5px;
  margin-top: -5px;
  top: 50%;
}

.checkbox_test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.checkbox_test * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox_test input[type='checkbox'] {
  height: 0;
  width: 0;
}

.checkbox_test input[type='checkbox'] + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9e9e9e;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox_test input[type='checkbox'] + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5em;
  height: 1.5em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox_test input[type='checkbox'] + label:hover, .checkbox_test input[type='checkbox']:focus + label {
  color: #fff;
}

.checkbox_test input[type='checkbox'] + label:hover > span, .checkbox_test input[type='checkbox']:focus + label > span {
  background: rgba(255, 255, 255, 0.1);
}

.checkbox_test input[type='checkbox']:checked + label > span {
  border: 0.5em solid #124261;
  background-color: #124261;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

.checkbox_test input[type='checkbox']:checked + label > span:before {
  content: "";
  position: absolute;
  top: 0.05em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg) scale(0.7);
          transform: rotate(45deg) scale(0.7);
  -webkit-animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
          animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@-webkit-keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .4em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .4em;
    height: 1em;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .4em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .4em;
    height: 1em;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  padding: 5px 8px 5px 7px;
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}

select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

select .option_to_change {
  color: #999999;
}

.select::after {
  content: url(../img/Shape.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  padding: 9px 7px 9px 0px;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transform: translate(0, -16px);
          transform: translate(0, -16px);
}

.needed_path {
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}

.needed_path:hover {
  fill: #124261;
}

.needed_stroke {
  -webkit-transition: 0.3s stroke;
  transition: 0.3s stroke;
}

.needed_stroke:hover {
  stroke: #124261;
}

.current_page {
  border-bottom: 4px solid #124261 !important;
}

.current_page .needed_path {
  fill: #124261 !important;
}

.current_page .needed_stroke {
  stroke: #124261 !important;
}

.current_page p {
  color: #124261 !important;
}

.dropdown {
  margin-bottom: 33px;
}

.dropdown .dropdown_switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown #dropdown_trigger,
.dropdown #dropdown_trigger11,
.dropdown #dropdown_trigger22,
.dropdown #dropdown_trigger33,
.dropdown #dropdown_trigger44 {
  display: none;
}

.dropdown #dropdown_trigger:checked + .dropdown_list,
.dropdown #dropdown_trigger11:checked + .dropdown_list,
.dropdown #dropdown_trigger22:checked + .dropdown_list,
.dropdown #dropdown_trigger33:checked + .dropdown_list,
.dropdown #dropdown_trigger44:checked + .dropdown_list {
  display: block;
}

.dropdown .dropdown_list {
  display: none;
}

.icon_image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.icon_image p {
  margin-left: 15px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.logo_image {
  position: relative;
  width: 100%;
}

.logo_image .upload {
  height: 43px;
  width: 224px;
}

.logo_image .upload svg {
  padding: 10px 100px 9px 100px;
}

.logo_image p {
  margin-top: 10px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.background_image {
  position: relative;
  width: 100%;
}

.background_image .upload {
  height: 200px;
  width: 160px;
}

.background_image .upload svg {
  padding: 88px 68px;
}

.background_image p {
  margin-top: 10px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.thumbnail_image {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}

.thumbnail_image .upload {
  height: 80px;
  width: 80px;
}

.thumbnail_image .upload svg {
  padding: 28px;
}

.thumbnail_image p {
  margin-top: 10px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.next_step {
  padding-bottom: 16px;
  padding-top: 13px;
  padding: 13px 24px 16px 24px;
  margin-bottom: 56px;
  background-color: #124261;
  border-radius: 8px;
  border: none;
  font-family: 'Helvetica Neue Bold';
  font-size: 17px;
  color: white;
}

.pass_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 45px;
}

.pass_nav .pass_nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0 8px 0;
  padding-bottom: 17px;
  border-bottom: 4px solid #fff;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}

.pass_nav .pass_nav_item svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.pass_nav .pass_nav_item svg .needed_path {
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}

.pass_nav .pass_nav_item svg .needed_stroke {
  -webkit-transition: 0.3s stroke;
  transition: 0.3s stroke;
}

.pass_nav .pass_nav_item p {
  font-family: 'Helvetica Neue Medium';
  font-size: 16px;
  color: #8DA4B3;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.pass_nav .pass_nav_item:hover {
  border-bottom: 4px solid #124261;
}

.pass_nav .pass_nav_item:hover .needed_path {
  fill: #124261;
}

.pass_nav .pass_nav_item:hover .needed_stroke {
  stroke: #124261;
}

.pass_nav .pass_nav_item:hover p {
  color: #124261;
}

.pass_nav .save_pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #124261;
  padding: 7px 10px 7px 7px;
  margin-bottom: 9px;
  border-radius: 8px;
}

.pass_nav .save_pass svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.pass_nav .save_pass svg path {
  fill: #fff;
}

.pass_nav .save_pass p {
  font-family: 'Helvetica Neue Medium';
  font-size: 16px;
  color: #fff;
}

.main_page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 48px;
}

.main_page .iphone {
  background-image: url(../img/iphone.png);
  background-size: cover;
  min-width: 320px;
  height: 648px;
}

.main_page .iphone .iphone_container {
  position: relative;
  width: 80%;
  height: 592px;
  margin: 0 auto;
}

.main_page .iphone .iphone_container .status_bars {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_page .iphone .iphone_container .status_bars .iphone_time {
  font-family: 'SF Pro Text Semibold';
  font-size: 14px;
  color: black;
}

.main_page .iphone .iphone_container .status_bars .statuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .iphone .iphone_container .status_bars .statuses img {
  margin-left: 4px;
}

.main_page .iphone .iphone_container .iphone_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.main_page .iphone .iphone_container .iphone_nav p {
  font-family: 'SF Pro Display Semibold';
}

.main_page .iphone .iphone_container .pass_content {
  position: relative;
  margin-top: 15px;
  height: 375px;
  background-color: #89949B;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
}

.main_page .iphone .iphone_container .pass_content:before {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 38px;
  border-radius: 50%;
  background-color: white;
  -webkit-transform: translate(103px, -22px);
          transform: translate(103px, -22px);
  -webkit-box-shadow: inset 0px -10px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -10px 25px 0px rgba(0, 0, 0, 0.1);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container {
  margin: 0 auto;
  width: 95%;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .exp_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .exp_date .exp_time {
  font-family: 'SF Pro Display Semibold';
  font-size: 8px;
  color: #fff;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .exp_date .exp_date {
  font-family: 'SF Pro Display Regular';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .mini_p {
  font-family: 'SF Pro Display Semibold';
  font-size: 9px;
  color: #fff;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_event_info {
  margin-top: 15px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_event_info .pass_event_name {
  font-family: 'SF Pro Display Regular';
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_place_info {
  margin-top: 13px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_place_info .pass_place {
  font-family: 'SF Pro Display Regular';
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_ticket_info {
  margin-top: 13px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_ticket_info .pass_ticket {
  font-family: 'SF Pro Display Regular';
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .qr_code {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 72px;
  width: 112px;
  height: 112px;
  border-radius: 3px;
}

.main_page .iphone .iphone_container button {
  position: absolute;
  padding-bottom: 16px;
  padding-top: 13px;
  background-color: #124261;
  border-radius: 8px;
  width: 100%;
  border: none;
  bottom: 0;
  font-family: 'Helvetica Neue Bold';
  font-size: 17px;
  color: white;
}

.main_page .pass_settings {
  position: relative;
  max-width: 780px;
  width: 780px;
  margin-top: 16px;
  margin-left: 81px;
}

.main_page .pass_settings h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  font-family: 'Helvetica Neue Bold';
  color: #333333;
  font-size: 21px;
}

.main_page .pass_settings hr {
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.main_page .pass_settings .cards {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_page .pass_settings .cards .card {
  margin: 0;
}

.main_page .pass_settings .cards .card input:checked + .card_info {
  color: #124261;
  font-family: 'Helvetica Neue Bold';
}

.main_page .pass_settings .cards .card input:checked + .card_info + svg .needed_path {
  fill: #124261;
}

.main_page .pass_settings .cards .card input:checked + .card_info + svg .needed_stroke {
  stroke: #124261;
}

.main_page .pass_settings .cards .card .needed_path {
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}

.main_page .pass_settings .cards .card .needed_stroke {
  -webkit-transition: 0.3s stroke;
  transition: 0.3s stroke;
}

.main_page .pass_settings .cards .card .aw_crap {
  border-bottom: #8DA4B3;
  -webkit-transition: 0.3s border-bottom;
  transition: 0.3s border-bottom;
}

.main_page .pass_settings .cards .card:hover .needed_path {
  fill: #124261;
}

.main_page .pass_settings .cards .card:hover .needed_stroke {
  stroke: #124261;
}

.main_page .pass_settings .cards .card:hover .aw_crap {
  border-bottom: #124261;
}

.main_page .pass_settings .cards .card:hover .card_info {
  color: #124261;
  font-family: 'Helvetica Neue Bold';
}

.main_page .pass_settings .cards .card:hover .card_form {
  border-color: #124261;
}

.main_page .pass_settings .cards .card:hover .card_form div {
  background-color: #124261;
}

.main_page .pass_settings .cards .card .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica Neue Regular';
  margin-top: 5px;
  margin-bottom: 18px;
  height: 23px;
  font-size: 18px;
  color: #333333;
  -webkit-transition: 0.3s color, 0.3s font-family;
  transition: 0.3s color, 0.3s font-family;
}

.main_page .pass_settings .cards .card .card_form {
  width: 138px;
  height: 177px;
  background-color: #E6F0F7;
  border: 1px solid #8DA4B3;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}

.main_page .pass_settings .cards .card .card_form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica Neue Condensed Black';
  font-size: 32px;
  color: #fff;
  background-color: #8DA4B3;
  padding: 10px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(92, 107, 116, 0.2);
          box-shadow: 0px 0px 30px 0px rgba(92, 107, 116, 0.2);
  -webkit-transform: translate(41px, 72px);
          transform: translate(41px, 72px);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main_page .pass_settings .cards .card .card_form .num {
  font-size: 22px;
}

.main_page .pass_settings .cards .card .card_form .smile {
  -webkit-transform: translate(2px, 1px) rotate(90deg);
          transform: translate(2px, 1px) rotate(90deg);
}

.main_page .pass_settings hr {
  margin-top: 8px;
  margin-bottom: 32px;
}

.main_page .pass_settings .pass_form {
  position: relative;
  z-index: 5;
  width: 370px;
  padding-bottom: 56px;
}

.main_page .pass_settings .pass_form .checkbox_languages_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .pass_settings .pass_form .checkbox_languages_div p {
  font-family: 'Helvetica Neue Regular';
}

.main_page .pass_settings .pass_form .p_header {
  position: relative;
  z-index: 4;
  font-family: 'Helvetica Neue Bold';
  font-size: 14px;
  color: #333333;
}

.main_page .pass_settings .pass_form .p_header .red_star {
  color: #B94A48;
  font-size: 14px;
}

.main_page .pass_settings .pass_form .p_header svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 5px;
}

.main_page .pass_settings .pass_form hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.main_page .pass_settings .pass_form .form_input {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  padding: 5px 18px 5px 8px;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: #333333;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}

.main_page .pass_settings .pass_form .textarea {
  height: 50px;
}

.main_page .pass_settings .pass_form .text_under_select {
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 40px;
}

.main_page .pass_settings .pass_form .text_under_select a {
  color: #124261;
  cursor: pointer;
}

.main_page .pass_settings .pass_form .dropdown {
  margin-bottom: 33px;
}

.main_page .pass_settings .pass_form .dropdown .dropdown_switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .pass_settings .pass_form .dropdown #dropdown_trigger {
  display: none;
}

.main_page .pass_settings .pass_form .dropdown #dropdown_trigger:checked + .dropdown_list {
  display: block;
}

.main_page .pass_settings .pass_form .dropdown .dropdown_list {
  display: none;
}

.main_page .pass_settings .pass_form .next_step {
  padding-bottom: 16px;
  padding-top: 13px;
  padding: 13px 24px 16px 24px;
  background-color: #124261;
  border-radius: 8px;
  border: none;
  font-family: 'Helvetica Neue Bold';
  font-size: 17px;
  color: white;
}

.main_page .pass_settings .distribution .p_header {
  margin-top: 24px !important;
  margin-bottom: 8px;
}

.main_page .pass_settings .distribution .form_input {
  margin-bottom: 0;
  height: 30px;
}

.main_page .colours_and_images {
  position: relative;
  max-width: 780px;
  width: 780px;
  margin-top: 16px;
  margin-left: 81px;
}

.main_page .colours_and_images h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  font-family: 'Helvetica Neue Bold';
  color: #333333;
  font-size: 21px;
}

.main_page .colours_and_images .text_under_h3 {
  font-family: 'Helvetica Neue Regular';
}

.main_page .colours_and_images hr {
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-bottom: 32px;
}

.main_page .colours_and_images .pass_form {
  position: relative;
  z-index: 5;
  width: 370px;
  padding-bottom: 56px;
}

.main_page .colours_and_images .pass_form .p_header {
  position: relative;
  z-index: 4;
  font-family: 'Helvetica Neue Bold';
  font-size: 14px;
  margin-bottom: 20px;
  color: #333333;
}

.main_page .colours_and_images .pass_form .p_header .red_star {
  color: #B94A48;
  font-size: 14px;
}

.main_page .colours_and_images .pass_form .p_header svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 5px;
}

.main_page .colours_and_images .pass_form hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.main_page .colours_and_images .pass_form .icon_image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main_page .colours_and_images .pass_form .icon_image p {
  margin-left: 15px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.main_page .colours_and_images .pass_form .logo_image {
  position: relative;
  width: 100%;
}

.main_page .colours_and_images .pass_form .logo_image .upload {
  height: 43px;
  width: 224px;
}

.main_page .colours_and_images .pass_form .logo_image .upload svg {
  padding: 10px 100px 9px 100px;
}

.main_page .colours_and_images .pass_form .logo_image p {
  margin-top: 10px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.main_page .colours_and_images .pass_form .background_image {
  position: relative;
  width: 100%;
}

.main_page .colours_and_images .pass_form .background_image .upload {
  height: 200px;
  width: 160px;
}

.main_page .colours_and_images .pass_form .background_image .upload svg {
  padding: 88px 68px;
}

.main_page .colours_and_images .pass_form .background_image p {
  margin-top: 10px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.main_page .colours_and_images .pass_form .thumbnail_image {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}

.main_page .colours_and_images .pass_form .thumbnail_image .upload {
  height: 80px;
  width: 80px;
}

.main_page .colours_and_images .pass_form .thumbnail_image .upload svg {
  padding: 28px;
}

.main_page .colours_and_images .pass_form .thumbnail_image p {
  margin-top: 10px;
  text-align: left;
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  line-height: 18px;
}

.main_page .front_content {
  position: relative;
  max-width: 780px;
  width: 780px;
  margin-top: 16px;
  margin-left: 81px;
}

.main_page .front_content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  font-family: 'Helvetica Neue Bold';
  color: #333333;
  font-size: 21px;
}

.main_page .front_content .text_under_h3 {
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  line-height: 20px;
}

.main_page .front_content hr {
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-bottom: 32px;
}

.main_page .front_content .hr {
  margin-top: 24px;
}

.main_page .front_content .pass_form {
  position: relative;
  z-index: 5;
  width: 370px;
  padding-bottom: 56px;
}

.main_page .front_content .pass_form .checkbox_languages_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .front_content .pass_form .checkbox_languages_div p {
  font-family: 'Helvetica Neue Regular';
}

.main_page .front_content .pass_form .p_header {
  position: relative;
  z-index: 4;
  font-family: 'Helvetica Neue Bold';
  font-size: 14px;
  color: #333333;
}

.main_page .front_content .pass_form .p_header .red_star {
  color: #B94A48;
  font-size: 14px;
}

.main_page .front_content .pass_form .p_header svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 5px;
}

.main_page .front_content .pass_form .hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.main_page .front_content .pass_form .big_dropdown {
  margin-bottom: 33px;
}

.main_page .front_content .pass_form .big_dropdown .burger_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 16px;
}

.main_page .front_content .pass_form .big_dropdown .burger_menu .burger_menu_element {
  background-color: #d8d8d8;
  border-radius: 1px;
  width: 16px;
  height: 2px;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #DEDFDF;
  padding: 16px;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_switcher .big_dropdown_switcher_left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_switcher .big_dropdown_switcher_left_side .plus {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  font-family: 'Helvetica Neue Bold';
  position: relative;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_switcher .big_dropdown_switcher_left_side .plus .plus_element1 {
  position: absolute;
  width: 2px;
  height: 16px;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
  background-color: #124261;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_switcher .big_dropdown_switcher_left_side .plus .plus_element2 {
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #124261;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_switcher .big_dropdown_switcher_left_side p {
  margin-left: 8px;
}

.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger1,
.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger2,
.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger3,
.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger4 {
  display: none;
}

.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger1:checked + .big_dropdown_list,
.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger2:checked + .big_dropdown_list,
.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger3:checked + .big_dropdown_list,
.main_page .front_content .pass_form .big_dropdown #big_dropdown_trigger4:checked + .big_dropdown_list {
  display: block;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_list {
  display: none;
  padding: 17px 16px 18px 16px;
  border: 1px solid #DEDFDF;
  border-top: 0px;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_list hr {
  margin: 16px 0;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_list .checkbox_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .front_content .pass_form .big_dropdown .big_dropdown_list .checkbox_div p {
  font-family: 'Helvetica Neue Regular';
}

.main_page .front_content .pass_form .add_block .big_dropdown_switcher {
  cursor: pointer;
}

.main_page .lock_screen {
  padding-bottom: 56px;
}

.main_page .lock_screen .background_image .upload {
  width: 270px;
  height: 105px;
}

.main_page .lock_screen .background_image .upload svg {
  padding: 41px 123px 40px 123px;
}

.main_page .lock_screen .languages_textareas_block .languages_textareas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .lock_screen .languages_textareas_block .languages_textareas .pass_form {
  width: 100%;
}

.main_page .lock_screen .languages_textareas_block .languages_textareas .pass_form:nth-child(1) {
  margin-right: 10px;
}

.main_page .lock_screen .languages_textareas_block .languages_textareas .pass_form .textarea {
  max-width: 370px;
  height: 60px;
}

.main_page .lock_screen .languages_textareas_block .add_btn {
  color: #8DA4B3;
  border: 2px solid #8DA4B3;
  background-color: #fff;
  -webkit-transition: 0.3s color, 0.3s border-color;
  transition: 0.3s color, 0.3s border-color;
}

.main_page .lock_screen .languages_textareas_block .add_btn:hover {
  color: #124261;
  border-color: #124261;
}

.main_page .lock_screen .under_languages {
  margin-top: 8px;
  margin-bottom: 24px;
}

.main_page .lock_screen .dropdown p {
  font-family: 'Helvetica Neue Bold';
}

.main_page .lock_screen .dropdown span {
  font-family: 'Helvetica Neue Regular';
}

.main_page .lock_screen .text_under_h3 {
  margin-bottom: 24px;
}

.main_page .lock_screen .pf_lockscreen {
  width: 100%;
  margin-top: 24px;
  padding-bottom: 0;
}

.main_page .lock_screen .pf_lockscreen .add_btn {
  display: block;
  margin-bottom: 64px;
  color: #8DA4B3;
  border: 2px solid #8DA4B3;
  background-color: #fff;
  -webkit-transition: 0.3s color, 0.3s border-color;
  transition: 0.3s color, 0.3s border-color;
}

.main_page .lock_screen .pf_lockscreen .add_btn:hover {
  color: #124261;
  border-color: #124261;
}

.main_page .lock_screen .pf_lockscreen .the_last_one {
  margin-bottom: 46px;
}

.main_page .lock_screen .pf_lockscreen input {
  margin-bottom: 0;
}

.main_page .lock_screen .pf_lockscreen .pass_form {
  padding-bottom: 0;
}

.main_page .lock_screen .p_lockscreen {
  margin-top: 24px;
  position: relative;
  z-index: 4;
  font-family: 'Helvetica Neue Bold';
  font-size: 14px;
  color: #333333;
}

.main_page .lock_screen .p_lockscreen .red_star {
  color: #B94A48;
  font-size: 14px;
}

.main_page .lock_screen .p_lockscreen svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 5px;
}

.main_page .lock_screen hr {
  margin-top: 24px;
  margin-bottom: 24px;
}
/*# sourceMappingURL=index.css.map */