@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(fonts/HelveticaNeueMedium.ttf);
  font-size: 14px;
  color: #333333;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(fonts/HelveticaNeueBold.ttf);
  font-size: 14px;
  color: #333333;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(fonts/HelveticaNeueCondensedBlack.ttf);
  font-size: 16px;
  color: #333333;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url(fonts/HelveticaNeueRegular.ttf);
  font-size: 14px;
  color: #333333;
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url(fonts/SFProTextSemibold.ttf);
  font-size: 12px;
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url(fonts/SFProDisplaySemibold.ttf);
  font-size: 12px;
  color: black;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url(fonts/SFProDisplayBold.ttf);
  font-size: 8px;
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url(fonts/SFProDisplayRegular.ttf);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

ul, a, li {
  text-decoration: none;
  list-style: none;
  color: #8DA4B3;
  border: none;
}

.hr_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
}

.radio input {
  display: none;
}

.radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}

.radio input + span:not(:empty) {
  padding-left: 30px;
}

.radio input + span:before, .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

.radio input + span:before {
  background: #D1D7E3;
  -webkit-transition: background-color 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background-color 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background-color 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background-color 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
          transform: scale(0.78);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #124261;
}

.radio input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.radio:hover input + span:before {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.radio:hover input + span:after {
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
}

.radio:hover input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.tooltip {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.tooltip:hover {
  overflow: visible;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
}

.tooltip .tooltip-content {
  background: #fff;
  -webkit-box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
          box-shadow: 0 5px 25px 5px rgba(205, 210, 214, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue Regular';
  color: #333333;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  max-width: 200px;
  min-width: 145px;
  padding: 1em;
  position: absolute;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.tooltip .tooltip-content::after {
  background: #fff;
  content: "";
  height: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 10px;
}

.tooltip.right .tooltip-content {
  left: calc(100% + 1.5em);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tooltip.right .tooltip-content::after {
  left: -5px;
  margin-top: -5px;
  top: 50%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  padding: 5px 8px 5px 7px;
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}

select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

select .option_to_change {
  color: #999999;
}

.select::after {
  content: url(../img/Shape.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  padding: 9px 7px 9px 0px;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transform: translate(0, -16px);
          transform: translate(0, -16px);
}

.pass_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 45px;
}

.pass_nav .pass_nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  padding-bottom: 17px;
  border-bottom: 4px solid #fff;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}

.pass_nav .pass_nav_item svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.pass_nav .pass_nav_item svg path {
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}

.pass_nav .pass_nav_item p {
  font-family: 'Helvetica Neue Medium';
  font-size: 16px;
  color: #8DA4B3;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.pass_nav .pass_nav_item:hover {
  border-bottom: 4px solid #124261;
}

.pass_nav .pass_nav_item:hover path {
  fill: #124261;
}

.pass_nav .pass_nav_item:hover p {
  color: #124261;
}

.pass_nav .save_pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #124261;
  padding: 7px 10px 7px 7px;
  margin-bottom: 9px;
  border-radius: 8px;
}

.pass_nav .save_pass svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.pass_nav .save_pass svg path {
  fill: #fff;
}

.pass_nav .save_pass p {
  font-family: 'Helvetica Neue Medium';
  font-size: 16px;
  color: #fff;
}

.main_page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 48px;
}

.main_page .iphone {
  background-image: url(../img/iphone.png);
  background-size: cover;
  min-width: 320px;
  height: 648px;
}

.main_page .iphone .iphone_container {
  position: relative;
  width: 80%;
  height: 592px;
  margin: 0 auto;
}

.main_page .iphone .iphone_container .status_bars {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_page .iphone .iphone_container .status_bars .iphone_time {
  font-family: 'SF Pro Text Semibold';
  font-size: 14px;
  color: black;
}

.main_page .iphone .iphone_container .status_bars .statuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_page .iphone .iphone_container .status_bars .statuses img {
  margin-left: 4px;
}

.main_page .iphone .iphone_container .iphone_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.main_page .iphone .iphone_container .iphone_nav p {
  font-family: 'SF Pro Display Semibold';
}

.main_page .iphone .iphone_container .pass_content {
  position: relative;
  margin-top: 15px;
  height: 375px;
  background-color: #89949B;
  -webkit-box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
}

.main_page .iphone .iphone_container .pass_content:before {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 38px;
  border-radius: 50%;
  background-color: white;
  -webkit-transform: translate(103px, -22px);
          transform: translate(103px, -22px);
  -webkit-box-shadow: inset 0px -10px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -10px 25px 0px rgba(0, 0, 0, 0.1);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container {
  margin: 0 auto;
  width: 95%;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .logo {
  width: 109px;
  height: 26px;
  color: #124261;
  background-color: #8DA4B3;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .exp_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .exp_date .exp_time {
  font-family: 'SF Pro Display Semibold';
  font-size: 8px;
  color: #fff;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_header .exp_date .exp_date {
  font-family: 'SF Pro Display Regular';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .mini_p {
  font-family: 'SF Pro Display Semibold';
  font-size: 9px;
  color: #fff;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_event_info {
  margin-top: 15px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_event_info .pass_event_name {
  font-family: 'SF Pro Display Regular';
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_place_info {
  margin-top: 13px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_place_info .pass_place {
  font-family: 'SF Pro Display Regular';
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_ticket_info {
  margin-top: 13px;
}

.main_page .iphone .iphone_container .pass_content .pass_content_container .pass_ticket_info .pass_ticket {
  font-family: 'SF Pro Display Regular';
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.main_page .iphone .iphone_container .pass_content .qr_code {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 72px;
  width: 112px;
  height: 112px;
  border-radius: 3px;
}

.main_page .iphone .iphone_container button {
  position: absolute;
  padding-bottom: 16px;
  padding-top: 13px;
  background-color: #124261;
  border-radius: 8px;
  width: 100%;
  border: none;
  bottom: 0;
  font-family: 'Helvetica Neue Bold';
  font-size: 17px;
  color: white;
}

.main_page .pass_settings {
  position: relative;
  max-width: 780px;
  width: 780px;
  margin-top: 16px;
  margin-left: 81px;
}

.main_page .pass_settings h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  font-family: 'Helvetica Neue Bold';
  color: #333333;
  font-size: 21px;
}

.main_page .pass_settings hr {
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.main_page .pass_settings .cards {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_page .pass_settings .cards .card:hover .card_info {
  color: #124261;
  font-family: 'Helvetica Neue Bold';
}

.main_page .pass_settings .cards .card:hover .card_form {
  border-color: #124261;
}

.main_page .pass_settings .cards .card:hover .card_form div {
  background-color: #124261;
}

.main_page .pass_settings .cards .card .card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica Neue Regular';
  margin-bottom: 18px;
  font-size: 18px;
  color: #333333;
  -webkit-transition: 0.3s color, 0.3s font-family;
  transition: 0.3s color, 0.3s font-family;
}

.main_page .pass_settings .cards .card .card_form {
  width: 138px;
  height: 177px;
  background-color: #E6F0F7;
  border: 1px solid #8DA4B3;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}

.main_page .pass_settings .cards .card .card_form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica Neue Condensed Black';
  font-size: 32px;
  color: #fff;
  background-color: #8DA4B3;
  padding: 10px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(92, 107, 116, 0.2);
          box-shadow: 0px 0px 30px 0px rgba(92, 107, 116, 0.2);
  -webkit-transform: translate(41px, 72px);
          transform: translate(41px, 72px);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main_page .pass_settings .cards .card .card_form .num {
  font-size: 22px;
}

.main_page .pass_settings .cards .card .card_form .smile {
  -webkit-transform: translate(2px, 1px) rotate(90deg);
          transform: translate(2px, 1px) rotate(90deg);
}

.main_page .pass_settings hr {
  margin-top: 24px;
  margin-bottom: 32px;
}

.main_page .pass_settings .pass_form {
  position: relative;
  z-index: 5;
  width: 370px;
}

.main_page .pass_settings .pass_form .p_header {
  position: relative;
  z-index: 4;
  font-family: 'Helvetica Neue Bold';
  font-size: 14px;
  color: #333333;
}

.main_page .pass_settings .pass_form .p_header .red_star {
  color: #B94A48;
  font-size: 14px;
}

.main_page .pass_settings .pass_form .p_header svg {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 5px;
}

.main_page .pass_settings .pass_form hr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.main_page .pass_settings .pass_form .form_input {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
  height: 20px;
  padding: 5px 18px 5px 8px;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: #333333;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}

.main_page .pass_settings .pass_form .text_under_select {
  font-family: 'Helvetica Neue Regular';
  font-size: 12px;
  color: #999999;
  margin-bottom: 40px;
}

.main_page .pass_settings .pass_form .text_under_select a {
  color: #124261;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */