@import './variables.scss';

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url(fonts/HelveticaNeueMedium.ttf);
  font-size: 14px; 
  color: $black;
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url(fonts/HelveticaNeueBold.ttf);
  font-size: 14px; 
  line-height: 20px;
  color: $black;
}

@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  src: url(fonts/HelveticaNeueCondensedBlack.ttf);
  font-size: 16px; 
  color: $black;
}

@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url(fonts/HelveticaNeueRegular.ttf);
  font-size: 14px; 
  color: $black;
}

@font-face {
  font-family: 'SF Pro Text Semibold';
  src: url(fonts/SFProTextSemibold.ttf);
  font-size: 12px; 
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url(fonts/SFProDisplaySemibold.ttf);
  font-size: 12px; 
  color: black;
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url(fonts/SFProDisplayBold.ttf);
  font-size: 8px; 
  color: white;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url(fonts/SFProDisplayRegular.ttf);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
body {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

ul, a, li {
  text-decoration: none;
  list-style: none;
  color: $lightBlue;
  border: none;   
}


.hr_border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
// simple input
.form_input {
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 24px;
  width: 100%;
  height: 30px;
  padding: 5px 18px 5px 8px;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: $black;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}
// form_input + textarea
.textarea {
  height: 50px;
}
// upload input
.upload {
  position: relative;
  height: 55px;
  width: 55px;
  border: 1px dashed $lightBlue;
  border-radius: 4px;
  display: block;
  transition: border 0.3s ease;
  cursor:pointer;
  svg {
    padding: 15px 16px 18px 17px;
  }
  .needed_path {
    position: absolute;
    display: block;
    transition: 0.3s fill;
  }

  &:hover{
    border: 1px solid $darkBlue;
    .needed_path{
      fill: $darkBlue;
    }
  }
  input[type=file] {
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none;
  }
}
// radio input
.radio {
  margin: 16px 0;
  display: block;
  cursor: pointer;
  input {
      display: none;
      & + span {
          line-height: $radioSize;
          height: $radioSize;
          padding-left: $radioSize;
          display: block;
          position: relative;
          &:not(:empty) {
              padding-left: $radioSize + 8;
          }
          &:before,
          &:after {
              content: '';
              width: $radioSize;
              height: $radioSize;
              display: block;
              border-radius: 50%;
              left: 0;
              top: 0;
              position: absolute;
          }
          &:before {
              background: $radioBorder;
              transition: background-color .2s ease,
                          transform .4s cubic-bezier(.175, .885, .32, 2);
          }
          &:after {
              background: #fff;
              transform: scale(.78);
              transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
          }
      }
      &:checked + span {
          &:before {
              transform: scale(1.04);
              background: $radioActive;
          }
          &:after {
              transform: scale(.4);
              transition: transform .3s ease;
          }
      }
  }
  &:hover {
      input {
          & + span {
              &:before {
                  transform: scale(.92);
              }
              &:after {
                  transform: scale(.74);
              }
          }
          &:checked + span {
              &:after {
                  transform: scale(.4);
              }
          }
      }
  }
}
// tooltip
.row {
  display: flex;
  margin: auto;
}
.tooltip {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  .needed_path {
    transition: 0.3s fill;
  }
  .needed_stroke {
    transition: 0.3s stroke;
  }

  &:hover {
    overflow: visible;
    .tooltip-content {
      opacity: 1;
    }
    .needed_path {
      fill: $darkBlue;
    }
    .needed_stroke {
      stroke: $darkBlue;
    }
  }
  
  .tooltip-content {
    background: #fff;
    box-shadow: 0 5px 25px 5px $shadow;
    box-sizing: border-box;
    font-family: 'Helvetica Neue Regular';
    color: $black;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 200px;
    min-width: 145px;
    padding: 1em;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    &::after {
      background: #fff;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
    }
  }

  &.right {
    .tooltip-content {
      left: calc(100% + 1.5em);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        left: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }      
}
// beautiful checkboxes
.checkbox_test {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.66);
  * { box-sizing: border-box; user-select: none; }
  input[type='checkbox']{ height: 0; width: 0; }
  input[type='checkbox'] + label{
    position: relative;
    display: flex;
    // margin: .6em 0;
    align-items: center;
    color: #9e9e9e;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
  }

  input[type='checkbox'] + label > span{
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-right: 1em;
      width: 1.5em;
      height: 1.5em;
      background: transparent;
      border: 2px solid #9E9E9E;
      border-radius: 4px;
      cursor: pointer;  
      transition: all 250ms cubic-bezier(.4,.0,.23,1);
  }

  input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{
      color: #fff;
  }
  input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
      background: rgba(255,255,255,.1);
  }              
  input[type='checkbox']:checked + label > span{
      border: .5em solid $darkBlue;
      background-color: $darkBlue;
      animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  }
  input[type='checkbox']:checked + label > span:before{
  content: "";
      position: absolute;
      top: 0.05em;
      // left: .2em;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      transform: rotate(45deg) scale(0.7);
      // transform-origin: 0% 100%;
      animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
  }

  @keyframes shrink-bounce{
      0%{
          transform: scale(1);
      }
      33%{    
          transform: scale(.85);
      }
      100%{
          transform: scale(1);    
      }
  }
  @keyframes checkbox-check{
      0%{
          width: 0;
          height: 0;
          border-color: #fff;
          transform: translate3d(0,0,0) rotate(45deg);
      }
      33%{
          width: .4em;
          height: 0;
          transform: translate3d(0,0,0) rotate(45deg);
      }
      100%{    
          width: .4em;
          height: 1em;    
          border-color: #fff;
          transform: translate3d(0,0,0) rotate(45deg);
      }
    }
}
// select
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  padding: 5px 8px 5px 7px;
  margin-top: 8px;
  margin-bottom: 12px;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px solid #DEDFDF;
  border-radius: 4px;
}
select {
  flex: 1;
  font-family: 'Helvetica Neue Regular';
  font-size: 14px;
  color: $black;
  cursor: pointer;
  .option_to_change {
    color: $grey;
  }
}
.select::after {
  content: url(../img/Shape.svg);
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  padding: 9px 7px 9px 0px;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  transform: translate(0, -16px);
}
.needed_path {
  transition: 0.3s fill;
  &:hover {
    fill: $darkBlue;
  }
}
.needed_stroke {
  transition: 0.3s stroke;
  &:hover {
    stroke: $darkBlue;
  }
}
.current_page {
  border-bottom: 4px solid $darkBlue !important;
  .needed_path {
    fill: $darkBlue !important;
  }
  .needed_stroke {
    stroke: $darkBlue !important;
  }
  p {
    color: $darkBlue !important;
  }
}
.dropdown {
  margin-bottom: 33px;
  .dropdown_switcher {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #dropdown_trigger,
  #dropdown_trigger11,
  #dropdown_trigger22,
  #dropdown_trigger33,
  #dropdown_trigger44 {
    display: none;
  }
  #dropdown_trigger:checked + .dropdown_list,
  #dropdown_trigger11:checked + .dropdown_list,
  #dropdown_trigger22:checked + .dropdown_list,
  #dropdown_trigger33:checked + .dropdown_list,
  #dropdown_trigger44:checked + .dropdown_list {
    display: block;
  }
  .dropdown_list{
    display: none;
  }
}
.icon_image {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  p {
    margin-left: 15px;
    text-align: left;
    font-family: 'Helvetica Neue Regular';
    font-size: 12px;
    color: $grey;
    line-height: 18px;
  }
}
.logo_image {
  position: relative;
  width: 100%;
  .upload {
    height: 43px;
    width: 224px;
    svg {
      padding: 10px 100px 9px 100px;
    }
  }
  p {
    margin-top: 10px;
    text-align: left;
    font-family: 'Helvetica Neue Regular';
    font-size: 12px;
    color: $grey;
    line-height: 18px;
  }
}
.background_image {
  position: relative;
  width: 100%;
  .upload {
    height: 200px;
    width: 160px;
    svg {
      padding: 88px 68px;
    }
  }
  p {
    margin-top: 10px;
    text-align: left;
    font-family: 'Helvetica Neue Regular';
    font-size: 12px;
    color: $grey;
    line-height: 18px;
  }
}
.thumbnail_image {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
  .upload {
    height: 80px;
    width: 80px;
    svg {
      padding: 28px;
    }
  }
  p {
    margin-top: 10px;
    text-align: left;
    font-family: 'Helvetica Neue Regular';
    font-size: 12px;
    color: $grey;
    line-height: 18px;
  }
}
.next_step {
  padding-bottom: 16px;
  padding-top: 13px;
  padding: 13px 24px 16px 24px;
  margin-bottom: 56px;
  background-color: $darkBlue;
  border-radius: 8px;
  border: none;
  font-family: 'Helvetica Neue Bold';
  font-size: 17px;
  color: white;
}

.pass_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .pass_nav_item {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0;
    padding-bottom: 17px;
    border-bottom: 4px solid #fff;
    transition: 0.3s border-color;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      .needed_path {
        transition: 0.3s fill;
      }
      .needed_stroke {
        transition: 0.3s stroke;
      }
    }
    p {
      font-family: 'Helvetica Neue Medium';
      font-size: 16px;
      color: $lightBlue;
      // line-height: 19px;
      transition: 0.3s color;
    }
    &:hover {
      border-bottom: 4px solid $darkBlue;
      .needed_path {
        fill: $darkBlue;
      }
      .needed_stroke {
        stroke: $darkBlue;
      }
      p {
        color: $darkBlue;
      }
    }
  }
  .save_pass {
    display: flex;
    align-items: center;
    background-color: $darkBlue;
    padding: 7px 10px 7px 7px;
    margin-bottom: 9px;
    border-radius: 8px;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      path {
        fill: #fff;
      }
    }
    p {
      font-family: 'Helvetica Neue Medium';
      font-size: 16px;
      color: #fff;
    }
  }
}


.main_page {
  width: 100%;
  display: flex;
  align-items: flex-start;
  // justify-content: space-between;
  margin-top: 48px;



  .iphone {
    background-image: url(../img/iphone.png);
    background-size: cover;
    min-width: 320px;
    height: 648px;
    .iphone_container {
      position: relative;
      width: 80%;
      height: 592px;
      margin: 0 auto;
      .status_bars {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        .iphone_time {
          font-family: 'SF Pro Text Semibold';
          font-size: 14px;
          color: black;
        }
        .statuses {
          display: flex;
          align-items: center;
          img {
            margin-left: 4px;
          }
        }
      }
      .iphone_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        p {
          font-family: 'SF Pro Display Semibold';
        }
      }

      .pass_content {
        position: relative;
        margin-top: 15px;
        height: 375px;
        background-color: #89949B;

        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.1);
        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 50px;
          height: 38px;
          border-radius: 50%;
          background-color: white;
          transform: translate(103px, -22px);
          box-shadow: inset 0px -10px 25px 0px rgba(0, 0, 0, 0.1);
        }
        
        .pass_content_container {
          margin: 0 auto;
          width: 95%;

          .pass_header {
            display: flex;
            justify-content: space-between;
            padding-top: 7px;

            .exp_date {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;

              .exp_time {
                font-family: 'SF Pro Display Semibold';
                font-size: 8px;
                color: #fff;
              }
              .exp_date {
                font-family: 'SF Pro Display Regular';
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
              }
            }
          }
          .mini_p {
            font-family: 'SF Pro Display Semibold';
            font-size: 9px;
            color: #fff;
          }
          .pass_event_info {
            margin-top: 15px;
            .pass_event_name {
              font-family: 'SF Pro Display Regular';
              font-size: 15px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .pass_place_info {
            margin-top: 13px;
            .pass_place {
              font-family: 'SF Pro Display Regular';
              font-size: 12px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .pass_ticket_info {
            margin-top: 13px;
            .pass_ticket {
              font-family: 'SF Pro Display Regular';
              font-size: 10px;
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
        .qr_code {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 72px;
          width: 112px;
          height: 112px;
          border-radius: 3px;
        }
      }
      button {
        position: absolute;
        padding-bottom: 16px;
        padding-top: 13px;
        background-color: $darkBlue;
        border-radius: 8px;
        width: 100%;
        border: none;
        bottom: 0;
        font-family: 'Helvetica Neue Bold';
        font-size: 17px;
        color: white;
      }
    }
  }


  .pass_settings {
    position: relative;
    max-width: 780px;
    width: 780px;
    margin-top: 16px;
    margin-left: 81px;
    h3 {
      display: flex;
      max-width: 100%;
      font-family: 'Helvetica Neue Bold';
      color: $black;
      font-size: 21px;
    }
    hr {
      height: 1px;
      border: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .cards {
      margin-top: 33px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .card {
        input:checked + .card_info {
          color: $darkBlue;
          font-family: 'Helvetica Neue Bold';
        }
        input:checked + .card_info + svg {
          .needed_path {
            fill: $darkBlue;
          }
          .needed_stroke {
            stroke: $darkBlue;
          }
        }

        margin: 0;
        .needed_path {
          transition: 0.3s fill;
        }
        .needed_stroke {
          transition: 0.3s stroke;
        }
        .aw_crap {
          border-bottom: $lightBlue;
          transition: 0.3s border-bottom;
        }
        &:hover {
          .needed_path {
            fill: $darkBlue;
          }
          .needed_stroke {
            stroke: $darkBlue;
          }
          .aw_crap {
            border-bottom: $darkBlue;
          }
          .card_info {
            color: $darkBlue;
            font-family: 'Helvetica Neue Bold';
          }
          .card_form {
            border-color: $darkBlue;
            div {
              background-color: $darkBlue;
            }
          }
        }

        .card_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'Helvetica Neue Regular';
          margin-top: 5px;
          margin-bottom: 18px;
          height: 23px;
          font-size: 18px;
          color: $black;
          transition: 0.3s color,
                      0.3s font-family;
        }
        .card_form {
          width: 138px;
          height: 177px;
          background-color: #E6F0F7;
          border: 1px solid $lightBlue;
          transition: 0.3s border-color;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Helvetica Neue Condensed Black';
            font-size: 32px;
            color: #fff;
            background-color: $lightBlue;
            padding: 10px;
            height: 38px;
            width: 38px;
            border-radius: 50%;
            box-shadow: 0px 0px 30px 0px rgba(92,107,116,0.2);
            transform: translate(41px, 72px);
            transition: background-color 0.3s;
          }
          .num {
            font-size: 22px;
          }
          .smile {
            transform: translate(2px, 1px) rotate(90deg);
          }
        }
      }
    }
    hr {
      margin-top: 8px;
      margin-bottom: 32px;
    }



    .pass_form {
      position: relative;
      z-index: 5;
      width: 370px;
      padding-bottom: 56px;
      .checkbox_languages_div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          font-family: 'Helvetica Neue Regular'
        }
      }
      .p_header {
        position: relative;
        z-index: 4;
        font-family: 'Helvetica Neue Bold';
        font-size: 14px;
        color: $black;
        .red_star {
          color: $red;
          font-size: 14px;
        }
        svg {
          transform: translateY(1px);
          margin-left: 5px;
        }
      }
      hr {
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .form_input {
        margin-top: 8px;
        margin-bottom: 24px;
        width: 100%;
        box-sizing: border-box;
        height: 30px;
        padding: 5px 18px 5px 8px;
        font-family: 'Helvetica Neue Regular';
        font-size: 14px;
        color: $black;
        border: 1px solid #DEDFDF;
        border-radius: 4px;
      }
      .textarea {
        height: 50px;
      }
      .text_under_select {
        font-family: 'Helvetica Neue Regular';
        font-size: 12px;
        line-height: 18px;
        color: $grey;
        margin-bottom: 40px;
        a {
          color: $darkBlue;
          cursor: pointer;
        }
      }
      .dropdown {
        margin-bottom: 33px;
        .dropdown_switcher {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        #dropdown_trigger{
          display: none;
        }
        #dropdown_trigger:checked + .dropdown_list {
          display: block;
        }
        .dropdown_list{
          display: none;
        }
      }
      .next_step {
        padding-bottom: 16px;
        padding-top: 13px;
        padding: 13px 24px 16px 24px;
        background-color: $darkBlue;
        border-radius: 8px;
        border: none;
        font-family: 'Helvetica Neue Bold';
        font-size: 17px;
        color: white;
      }
    }
    .distribution {
      .p_header {
        margin-top: 24px !important;
        margin-bottom: 8px;
      }
      .form_input {
        margin-bottom: 0;
        height: 30px;
    
      }
    }
  }

  .colours_and_images {
    position: relative;
    max-width: 780px;
    width: 780px;
    margin-top: 16px;
    margin-left: 81px;
    h3 {
      display: flex;
      max-width: 100%;
      font-family: 'Helvetica Neue Bold';
      color: $black;
      font-size: 21px;
    }
    .text_under_h3 {
      font-family: 'Helvetica Neue Regular';
    }
    hr {
      height: 1px;
      border: 0;
      background-color: rgba(0, 0, 0, 0.1);
      margin-top: 8px;
      margin-bottom: 32px;
    }
    .pass_form {
      position: relative;
      z-index: 5;
      width: 370px;
      padding-bottom: 56px;
      .p_header {
        position: relative;
        z-index: 4;
        font-family: 'Helvetica Neue Bold';
        font-size: 14px;
        margin-bottom: 20px;
        color: $black;
        .red_star {
          color: $red;
          font-size: 14px;
        }
        svg {
          transform: translateY(1px);
          margin-left: 5px;
        }
      }
      hr {
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .icon_image {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        p {
          margin-left: 15px;
          text-align: left;
          font-family: 'Helvetica Neue Regular';
          font-size: 12px;
          color: $grey;
          line-height: 18px;
        }
      }
      .logo_image {
        position: relative;
        width: 100%;
        .upload {
          height: 43px;
          width: 224px;
          svg {
            padding: 10px 100px 9px 100px;
          }
        }
        p {
          margin-top: 10px;
          text-align: left;
          font-family: 'Helvetica Neue Regular';
          font-size: 12px;
          color: $grey;
          line-height: 18px;
        }
      }
      .background_image {
        position: relative;
        width: 100%;
        .upload {
          height: 200px;
          width: 160px;
          svg {
            padding: 88px 68px;
          }
        }
        p {
          margin-top: 10px;
          text-align: left;
          font-family: 'Helvetica Neue Regular';
          font-size: 12px;
          color: $grey;
          line-height: 18px;
        }
      }
      .thumbnail_image {
        position: relative;
        width: 100%;
        margin-bottom: 32px;
        .upload {
          height: 80px;
          width: 80px;
          svg {
            padding: 28px;
          }
        }
        p {
          margin-top: 10px;
          text-align: left;
          font-family: 'Helvetica Neue Regular';
          font-size: 12px;
          color: $grey;
          line-height: 18px;
        }
      }
    }
  }

  .front_content {
    position: relative;
    max-width: 780px;
    width: 780px;
    margin-top: 16px;
    margin-left: 81px;
    h3 {
      display: flex;
      max-width: 100%;
      font-family: 'Helvetica Neue Bold';
      color: $black;
      font-size: 21px;
    }
    .text_under_h3 {
      font-family: 'Helvetica Neue Regular';
      font-size: 14px;
      line-height: 20px;
    }
    hr {
      height: 1px;
      border: 0;
      background-color: rgba(0, 0, 0, 0.1);
      margin-top: 8px;
      margin-bottom: 32px;
    }
    .hr {
      margin-top: 24px;
    }
    .pass_form {
      position: relative;
      z-index: 5;
      width: 370px;
      padding-bottom: 56px;
      .checkbox_languages_div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          font-family: 'Helvetica Neue Regular'
        }
      }
      .p_header {
        position: relative;
        z-index: 4;
        font-family: 'Helvetica Neue Bold';
        font-size: 14px;
        color: $black;
        .red_star {
          color: $red;
          font-size: 14px;
        }
        svg {
          transform: translateY(1px);
          margin-left: 5px;
        }
      }
      .hr {
        margin-top: 24px;
        margin-bottom: 24px;
      }
      
      .big_dropdown {
        margin-bottom: 33px;
        .burger_menu {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          height: 16px;
          .burger_menu_element {
            background-color: #d8d8d8;
            border-radius: 1px;
            width: 16px;
            height: 2px;
          }
        }
        .big_dropdown_switcher {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #f6f6f6;
          border: 1px solid #DEDFDF;
          padding: 16px;
          .big_dropdown_switcher_left_side {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .plus {
              width: 16px;
              height: 16px;
              margin-left: 8px;
              font-family: 'Helvetica Neue Bold';
              position: relative;
              .plus_element1 {
                position: absolute;
                width: 2px;
                height: 16px;
                transform: rotate(-270deg);
                background-color: $darkBlue;
              }
              .plus_element2 {
                position: absolute;
                width: 2px;
                height: 16px;
                background-color: $darkBlue;
              }
            }
            p {
              margin-left: 8px;
            }
          }
        }
        #big_dropdown_trigger1,
        #big_dropdown_trigger2,
        #big_dropdown_trigger3,
        #big_dropdown_trigger4 {
          display: none;
        }
        #big_dropdown_trigger1:checked + .big_dropdown_list,
        #big_dropdown_trigger2:checked + .big_dropdown_list,
        #big_dropdown_trigger3:checked + .big_dropdown_list,
        #big_dropdown_trigger4:checked + .big_dropdown_list {
          display: block;
        }
        .big_dropdown_list{
          display: none;
          padding: 17px 16px 18px 16px;
          border: 1px solid #DEDFDF;
          border-top: 0px;
          hr {
            margin: 16px 0;
          }
          .checkbox_div {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              font-family: 'Helvetica Neue Regular'
            }
          }
        }
      }
      .add_block {
        .big_dropdown_switcher {
          cursor: pointer;
        }
      }
    }
    
  }
  .lock_screen {
    padding-bottom: 56px;
    .background_image {
      .upload {
        width: 270px;
        height: 105px;
        svg {
          padding: 41px 123px 40px 123px;
        }
      }
    }
    .languages_textareas_block {

      .languages_textareas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;
  
        .pass_form {
          width: 100%;
          &:nth-child(1) {
            margin-right: 10px;
          }
          .textarea {
            max-width: 370px;
            // min-width: 200px;
            height: 60px;
          }
        }
      }
      .add_btn {
        color: $lightBlue;
        border: 2px solid $lightBlue;
        background-color: #fff;
        transition: 0.3s color, 0.3s border-color;
        &:hover {
          color: $darkBlue;
          border-color: $darkBlue;
        }
      }
    }

    .under_languages {
      margin-top: 8px;
      margin-bottom: 24px;
    } 
    .dropdown {
      p {
        font-family: 'Helvetica Neue Bold';
      }
      span {
        font-family: 'Helvetica Neue Regular'
      }
    }
    .text_under_h3 {
      margin-bottom: 24px;
    }
    .pf_lockscreen {
      width: 100%;
      margin-top: 24px;
      padding-bottom: 0;
      .add_btn {
        display: block;
        margin-bottom: 64px;
        color: $lightBlue;
        border: 2px solid $lightBlue;
        background-color: #fff;
        transition: 0.3s color, 0.3s border-color;
        &:hover {
          color: $darkBlue;
          border-color: $darkBlue;
        }
      }
      .p_header {
        // margin-bottom: 20px;
      }
      .the_last_one {
        margin-bottom: 46px;
      }
      input {
        margin-bottom: 0;
      }
      .pass_form { 
        padding-bottom: 0;
      }
    }
    .p_lockscreen {
      margin-top: 24px;
      position: relative;
      z-index: 4;
      font-family: 'Helvetica Neue Bold';
      font-size: 14px;
      color: $black;
      .red_star {
        color: $red;
        font-size: 14px;
      }
      svg {
        transform: translateY(1px);
        margin-left: 5px;
      }
    }
    hr {
      margin-top: 24px;
      margin-bottom: 24px;
    }
    // .form_input {
    //   margin-top: 8px;
    //   margin-bottom: 24px;
    //   width: 100%;
    //   height: 20px;
    //   padding: 5px 18px 5px 8px;
    //   font-family: 'Helvetica Neue Regular';
    //   font-size: 14px;
    //   color: $black;
    //   border: 1px solid #DEDFDF;
    //   border-radius: 4px;
    // }
  }
}
